* {
	/*font-family: Helvetica;*/
	font-family: Arial;
	background-color: #23262b;
	color: #e1e3e6;
	box-sizing: border-box; 
}

.body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

a:link {
	text-decoration: none;
}

nav {
	display: flex;
	background-color: #23262b;
	max-height: 30px;
	max-width: 40%;
	gap: 10px;
	font-weight: bold;
}

nav div {
	padding: 20px;
	width: 82px;
	justify-content: space-evenly;
}

.about-card {
	width: 70px;
}

/*HOVER EFFECTS*/

nav a:hover {
	color: orange;
	font-size: 17px;
	transition: 0.2s;
}

footer a p i:hover {
	color: orange;
	transition: 0.2s;
}

.github:hover, .live:hover {
	color: orange;
	font-size: 22px;
	transition: 0.2s;
}

/*HOVER-END*/

.welcome-container {
	display: flex;
	align-items: center;
	padding: 20px;
	flex-direction: column;
	flex-wrap: row-wrap;
	max width: auto;
}

.welcome-container div {
	display: flex;
	justify-content: center;
	max width: auto;
	flex-wrap: row-wrap;
	max width: auto;
}

.about {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0px;
	gap: 20px;
	flex-wrap: row-wrap;
	width: auto;
	height: auto;
}

.about-image {
	border-radius: 50%;
	width: 180px;
	height: 180px;
}


.about-text {
	display: flex;
	padding: 0px;
	width: auto;
	height: auto;
	text-align: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.image {
	width: 100%;
	height: 100%;
    border-radius: 50%;
}

.portfolio-container {
	display: flex;
	flex-direction: column;
	padding: auto;
	align-items: center;
	max-width: auto;
	max-height: auto;
}

.project {
	display: flex;
	padding: 0px;
	max-height: 280px;
	min-height: 235px;
	width: 32%;
	max-width: 650px;
	margin: 10px 5px;
	flex-direction: row;
	flex-wrap: wrap;
	border-radius: 25px;
}

.project div {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	background-color: #303338;
	position: relative;

}

.github {
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
  	border-radius: 0px 0px 0px 25px;
}

.live {
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
  	border-radius: 0px 0px 0px 25px;
}

.project-text * {
	display: flex;
	background-color: #303338;
	max-height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 5px;
}

.project p {
	font-size: 14.5px;
	line-height: 1.6;
	margin: 0px;
}

.project * {
	background-color: #303338;
}

.portfolio-title {
	display: flex;
	margin: 10px;
}


.project-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	flex-align: center;
}

.project-text {
	border-radius: 25px 0px 0px 25px;
}

.project-photo-card {
	display: flex;
	max-size: 100%;
	border-radius: 25px;
	border-radius: 0px 25px 25px 0px;
	
}

.projectphoto {
	height: 100%;
	width: 100%;
	border-radius: 0px 25px 25px 0px;
	object-fit: cover;
}

.contact /*footer*/ {
	display: flex;
	background-color: #23262b;
	flex-direction: row;
	padding: 0px;
	justify-content: space-between;
}

.contact-icons {
	display: flex;
	flex-direction: row;
	padding: 0px;
}

footer div, footer a {
	display:flex;
	padding: 0 20px;
	margin: 0px;
}

.copyright {
	position: relative;
}


.copyright p {
	font-family: "Courier New", Courier, monospace;
	align-self: flex-end;
}

/*800*/

@media screen and (max-width: 1150px) {
	
	.project-container {
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		width: 100%;
		flex-wrap: wrap;
		flex-align: center;
		margin: 0px;
		padding: 0px;
	}
	
	.project {
		display: flex;
		padding: 0px;
		width: 350px;
		height: 240px;
		margin: 5px auto;
	}
	
}

@media screen and (max-width: 600px) {
	nav {
		display: flex;
		justify-content: space-between;
		max-width: 100%;
		max-height: 30px;
	}
	
}