* {
	font-family: Helvetica;
}

* {
	background-color: #23262b;
	color: #e1e3e6;
}

nav {
	display: flex;
	/*gap: 20px;*/
	background-color: #23262b;
	justify-content: flex-start;
}

nav div: visited {
	color: white;
}

nav div {
	color: white;
	padding: 20px;
}

.welcome-container {
	display: flex;
	align-items: flex-center;
	padding: 20px;
	flex-direction: column;
	flex-wrap: wrap;
}

.welcome-container div {
	display: flex;
	justify-content: center;
	max width: auto;
	flex-wrap: wrap;
}

.about {
	display: flex;
	align-items: flex-center;
	flex-direction: column;
	padding: 20px;
	flex-wrap: wrap;
}


.about div {
	display: flex;
	justify-content: center;
	max width: 100%;
	/*flex-wrap: wrap;
	flex-direction: column;
	padding: 20px;
	/*align-items: flex-start;
	border: solid red 2px;
	align-items: center;*/
}


.portfolio-container {
	display: flex;
	flex-direction: column;
	padding: 20px;
	/*align-items: flex-start;*/
	border: solid red 2px;
	justify-content: center;
	align-items: center;
}

.project {
	display: flex;
	border: solid blue 1px;
	padding: 10px;
	/*min-width: 200px*/;
	min-height: 200px;
	width: 350px;
	margin: 10px auto;
	flex-direction: column;
}

.portfolio-title {
	display: flex;
	margin: 10px;
}


.project-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: solid purple 1px;
	width: 100%;
	flex-wrap: wrap;
	flex-align: center;
}

.contact {
	display: flex;
	/*gap: 20px;*/
	background-color: #23262b;
	flex-direction: column;
	color: white;
	padding: 0px 20px;
	border: solid yellow 1px;
}

.contact-title {
	display: flex;
	justify-content: flex-start;
	color: white;
	padding: 0px;
	border: solid yellow 1px;
	margin: 0px;
}

.email {
	border: solid yellow 1px;
	margin: 0px 0px 15px 0px;
}






@media screen and (max-width: 800px) {
	
	.project-container {
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		border: solid purple 1px;
		width: 100%;
		flex-wrap: wrap;
		flex-align: center;
	}
	
	.project {
		display: flex;
		border: solid blue 1px;
		padding: 10px;
		width: 350px;
		/*max-width: 250px;*/
		min-height: 200px;
		/*margin: 10px;*/
		margin: 5px auto;
	}
	
}