nav {
	display: flex;
	/*gap: 20px;*/
	background-color: black;
	justify-content: flex-start;
}

nav div {
	color: white;
	padding: 20px;
}

.welcome-container {
	display: flex;
	align-items: flex-center;
	padding: 20px;
	flex-direction: column;
}

.welcome-container div {
	display: flex;
	justify-content: center;
}

.about {
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: flex-center;
}

.about div {
	display: flex;
	justify-content: center;
}

.portfolio {
	display: flex;
	flex-direction: column;
	padding: 20px;
	/*align-items: flex-start;*/
	border: solid red 2px;
	justify-content: center;
	align-items: center;
}

.project {
	display: flex;
	border: solid blue 1px;
	padding: 10px;
	min-width: 200px;
	min-height: 200px;
	margin: 10px;
}

.portfolio-title {
	/*display: flex;*/
	/*margin: 10px;*/
}


.project-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: solid purple 1px;
	width: 100%;
	flex-wrap: wrap;
	flex-align: center;
}

.contact {
	display: flex;
	/*gap: 20px;*/
	background-color: red;
	flex-direction: column;
	color: white;
	padding: 20px;
}

.contact-title {
	display: flex;
	justify-content: flex-start;
	color: white;
	padding: 20px;
}

.email
